<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebJobUniDAL.Properties.Settings.EasyBookConnectionString"
            connectionString="Data Source=WIN-568DTP4IIJQ\SQLSERVER;Initial Catalog=EasyBook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>