USE [EasyBook]
GO
/****** Object:  StoredProcedure [dbo].[GetCompanyByID]    Script Date: 20/06/2016 17:25:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID(N'GetCompanyByID', N'P') IS NOT NULL
    DROP PROCEDURE dbo.GetCompanyByID ;
GO
CREATE PROCEDURE  [dbo].[GetCompanyByID]	
	@compID int
AS
BEGIN
	-- SET NOCOUNT OFF to display the number of rows affected
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT *
	FROM Company 
	WHERE companyID = @compID;
	
--	ORDER BY personID ASC;
	
END
