#leftNav {
    /*font-size: 16pt;*/
    list-style-type: none;
    margin: 0;
    padding: 15px;
    margin-left: -17.5%;    
    width: 99%; /*99%; 200px*/
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    /*   position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

    #leftNav li a {
        display: block;
        width: inherit;        
    }

    #leftNav li a {
        display: block;
        color: #000;
        padding: 8px 0 8px 16px;
        text-decoration: none;
        height: 70px;        
    }

        /* Change the link color on hover */
        #leftNav li a:hover {
            background-color: #555;
            color: white;
        }

    #leftNav .active {
        background-color: lightpink;
       /* background-color: #363636;*/
        color: white;
    }
